 body { 
            background: #000;
            color: #dbdbdb;
            margin: 0;
        }
        
        .tele { 
            position: absolute; 
            top:0;
            width: 80%;
            height: auto;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            overflow:hidden;
            line-height: 140%;
            white-space: pre-wrap;
            padding: 20px;
            background: #000;
            color: #fff;
            border: none;
            resize: none;
/*            height: 20000px;*/
            font-size: 40px;
/*            max-height: 100px;*/
            
        }

.blur { 
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.editbox { 
    position: fixed; 
    top: 30px;
    width: 800px;
    height: 400px;
    background: #000;
    border: solid 1px gray;
    z-index: 500;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px;
    display: none;
    padding: 10px;
    height: 80vh;
    

    
    }

.editbox textarea { 
    line-height: 150%;
}

textarea:focus {
    outline: 0;
    

}

.text-input { 
    width: 730px; 
    height: 330px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 18px; 
    white-space: pre-wrap; 
    padding:30px;
    height: 60vh;
}

.done { 
    width: 100%; 
    margin-top: 30px;
    text-align: center;

}
.done-inner { 
    padding: 5px 10px;
    color: #000;
  
    border-radius: 10px;
    background: #fff;
    display: inline;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80%;
    width: 500px;
    height: 100px;
    
}
.done-inner:hover { 
    cursor: pointer;
    cursor: hand;
    background: springgreen;
}


.new:hover {
    cursor: pointer;
    cursor: hand;
    color: #fff;

}

.edit:hover { 
    cursor: pointer;
    cursor: hand;
    color: #fff;
}


        
        .inner-controls { 
            position: fixed; 
            background: black;
            bottom: 0; 
            left: 0; 
            width: 100%; 
            height: 50px;
            z-index: 400;
            color: #000;
            padding-top: 15px;
            text-align: center; 
            font-size: 30px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            border-top: 1px solid gray;
            
        }
        
        .inner-controls .fa { 
            margin-left: 5px;
            margin-right: 5px;
        }
        
        .active { 
            color: springgreen;
        }
        .inactive { 
            color: #BBBBBB;
        }
        .speed { 
            display: inline; 
            float: right; 
            font-size: 17px;
            margin-top: 7px;
            margin-right: 20px;
            color: #bbb;
        }

        
        .inner-speed, .inner-font { 
            display: inline; 
            color: springgreen;
            background: none;
            padding: 5px 10px;
            border-radius: 5px;
        }

.tips { 
    position: absolute;
    bottom: 90px;
    left: 20px;
    z-index: 700;
    display: inline; 
    color: gray;
    float: left;
/*    margin-left: 20px;*/
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
/*    opacity: 0.5;*/
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 180%;
    padding: 20px 40px; 
/*    border: solid 1px gray;*/
    background: #282828;
    opacity: 0;
    transition: opacity 1s;
    
}
   
.keys { 
     
    display: inline;
/*    background: gray;*/
    padding: 2px 5px;;
    color: springgreen;
    border-radius: 3px;
    font-weight: 700;
   
}

.command { 
    display: inline;
    
}

.menu { 
    display: inline; 
    color: #BBBBBB;
    float: left;
    margin-left: 20px;
    font-weight: 300;
/*    opacity: 0.8;*/
}

.help:hover { 
    color: #fff;
    opacity: 1;
}

.help:hover + .tips { 
    opacity: 0.9;
    transition: opacity 1s;
    color: #fff;
}




#result { 
    position: fixed; 
    z-index: 1000;
    top: 20px;
    left: 20px;
    background: #fff;
}

